body {
    margin: 0;
    padding: 0;
    background-color: #FFF4D6;
    font-family: 'Itim', cursive;
    color: #000;
}

.cursiva {
    font-family: 'Imperial Script', cursive;
    font: size 2.5rem;
}

header {
    background-color: linear-gradient(to right, #FCD5CE 50%, #E07A5F 50%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.textoI {
    width: 50%;
    padding: 20px;
}

.textoI p {
    margin-bottom: 15px;
    font-size:1.1rem;
}

.retangulom {
    background-color: #FCC8BB;
    padding: 20px;
    border-radius:20px;
}
retangulom img{
    max-width: 25opx;
}
.produtos{
    padding:40px 20px;
}
.comida>div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom:30px;
    border-radius:20px;
    padding:20px;
}
.bloco {
    background-color: #FCC8BB;
    width:60%;
    padding:20px;
    border-radius: 15px;
}
.texto ul{
    list-style: none;
}
.textoli{
    margin:5px 0;
    font-size: 1rem;
}
.imagem img{
    max-width: 150px;
}